@model  ProjetoFinalAlue.Models.Usuario
@{
    Layout = null;
}
<div class="text-center">
    <form asp-action="Login">
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email"/>
        <span asp-validation-for="Email"></span>
    </div>
    <div>
            <label asp-for="Senha"></label>
            <input type="password" asp-for="Senha" />
            <span asp-validation-for="Senha"></span>
    </div>
    <br />
    <h4>@ViewBag.Mensagem</h4>
    <br />
    <div>
        <input type="submit" value="Entrar"/>
    </div>
    </form>
</div>
